/*

+----------------------------------------------------------------------------------+
| Title                             > []                             [140] [Share] |
+----------------------------------------------------------------------------------+
|              |                                                  |                |
|              |                                                  |                |
|              |                                                  |                |
|              |                                                  |                |
|              |                                                  |                |
|              |                                                  |                |
|              |                                                  |                |
|              |                                                  |                |
|              |                                                  |                |
|              |                                                  |                |
|              |                                                  |                |
|              |                                                  |                |
|              +--------------------------------------------------+                |
|              |                                                  |                |
|              |                                                  |                |
|              |                                                  |                |
|              |                                                  |                |
+----------------------------------------------------------------------------------+

*/

.project {
	--size-divider: 5px;

	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: var(--size-divider);
	box-sizing: border-box;
	display: grid;
	grid-template-areas:
		"header header header"
		"browser workspace assistant";
	grid-template-columns: 2fr 12fr 4fr;
	grid-template-rows: 32px 1fr;
	gap: var(--size-divider);

	header {
		grid-area: header;

		display: flex;
		align-items: center;
		justify-content: space-between;

		.project-name,
		.project-settings {
			width: 20%;
		}

		h1 {
			font-size: var(--font-size-base);
		}

		.transport-controls {
			padding-top: var(--size-divider);
		}

		.project-settings {
			display: flex;
			align-items: center;
			gap: var(--size-divider);
			justify-content: flex-end;
		}

		button {
			border-radius: 0;
			height: 28px;
			padding: 0 10px;
		}
	}

	.workspace,
	.browser,
	.assistant {
		background-color: var(--color-background-secondary);
		box-sizing: border-box;
		padding: var(--size-divider);
	}

	.workspace {
		grid-area: workspace;
		overflow: auto;
		position: relative;
		display: flex;
		flex-direction: column;
		gap: var(--size-divider);

		.track-editor {
			width: 700px;
			height: 300px;
			background-color: var(--color-background-secondary);
			display: flex;
			flex-direction: column;
			padding: var(--size-divider);

			.track-info {
				padding-bottom: var(--size-divider);

				.track-name {
					font-weight: bold;
				}
			}

			.instrument-editor {
				height: 250px;
				padding: var(--size-divider);
			}

			.sequence-editor {
				flex: 1;
				padding: var(--size-divider);
			}
		}
	}

	.browser {
		grid-area: browser;
	}

	.assistant {
		grid-area: assistant;
	}
}
