.sequence-editor {
	--size-step-button: 30px;

	display: flex;
	gap: 8px;
	align-items: center;
	flex-wrap: wrap;

	.step {
		width: var(--size-step-button);
		height: var(--size-step-button);
		padding: 0;
		background-color: var(--color-background-tertiary);
		border: 1px solid var(--color-background-tertiary);
		border-radius: 0;
		cursor: pointer;
		position: relative;
		transition: background-color 0.1s ease;
		text-align: center;
		align-content: center;
		line-height: 0;
	}

	.step:nth-child(4n+1) {
		border-color: var(--color-background-secondary);
	}

	.step:hover {
		background-color: var(--color-background-hover);
	}

	.step-number {
		font-size: 10px;
		font-weight: bold;
		color: var(--color-background-secondary);
	}

	.step.active .step-number {
		color: white;
	}
}
