.sequence-editor {
	display: flex;
	gap: 8px;
	align-items: center;
	flex-wrap: wrap;
}

.sequence-editor .step {
	width: 30px;
	height: 30px;
	padding: 0;
	background-color: var(--color-background-highlight);
	border: none;
	cursor: pointer;
	transition: background-color 0.1s ease;
	display: flex;
	align-content: center;
	justify-content: center;
}

.sequence-editor .step:hover {
	background-color: #3a3d4a;
}

.sequence-editor .step.active {
	background-color: var(--color-background-highlight);
}

.sequence-editor .step-number {
	font-size: 10px;
	font-weight: bold;
	color: var(--color-background-secondary);
}

.sequence-editor .step.active .step-number {
	color: white;
}
