.vertical-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  width: 30px;

  --vertical-slider-width: 16px;

  .slider-track {
    position: relative;
    width: var(--vertical-slider-width);
    height: 120px;
    background-color: var(--color-background-tertiary);
    overflow: hidden;
  }

  .slider-fill {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: white;
    pointer-events: none;
    transition: height 0.02s ease-out;
  }

  .slider-track input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
    width: 120px;
    height: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    background: transparent;
    outline: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    border: none;
  }

  .slider-track input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0;
    height: 0;
    background: transparent;
    cursor: pointer;
    border: none;
  }

  .slider-track input[type="range"]::-moz-range-thumb {
    width: 0;
    height: 0;
    background: transparent;
    cursor: pointer;
    border: none;
  }

  .slider-label {
    font-size: var(--font-size-tiny);
    color: var(--color-text-secondary);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
  }
}
